
<div class="container">

  @if ((dashboardStore.status$ | async) === 'loading') {
    <div class="loading">
      <mat-spinner></mat-spinner>
    </div>
  } @else if ((dashboardStore.status$ | async) === 'error') {
    <mat-error>Something went wrong</mat-error>
  } @else if ((dashboardStore.status$ | async) === 'success') {
    @if (dashboardStore.statistic$ | async; as data) {
      <app-dashboard-statistic [statistic]="data"></app-dashboard-statistic>
    }

    @if (dashboardStore.employees$ | async; as employees) {
      <app-dashboard-employees-table [employees]="employees"></app-dashboard-employees-table>
    }
  }

</div>
