<div>
  <div class="date-filter">
    <app-shift-filter
      [dataSource]="dataSource"
      [shiftDays]="shiftDays"
      (filterDateChange)="onChangeFilter($event)">
    </app-shift-filter>
  </div>
  <cdk-virtual-scroll-viewport tvsItemSize class="wrapper">
    <table mat-table [dataSource]="dataSource" class="table mat-elevation-z0">
      <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns;" style="max-height: 52px"></tr>

      <ng-container matColumnDef="shift">
        <th mat-header-cell *matHeaderCellDef>Shift</th>
        <td mat-cell *matCellDef="let i = index">Shift {{ i + 1 }}</td>
      </ng-container>

      <ng-container matColumnDef="clockIn">
        <th mat-header-cell *matHeaderCellDef>Clock in time</th>
        <td mat-cell *matCellDef="let row">
          <app-hour-input [formControl]="row.get('clockIn')"></app-hour-input>
      </ng-container>

      <ng-container matColumnDef="clockOut">
        <th mat-header-cell *matHeaderCellDef>Clock out time</th>
        <td mat-cell *matCellDef="let row">
          <app-hour-input [formControl]="row.get('clockOut')"></app-hour-input>
      </ng-container>

      <ng-container matColumnDef="totalTime">
        <th mat-header-cell *matHeaderCellDef>Total time</th>
        <td mat-cell *matCellDef="let row">
          <app-shift-total-time [form]="row"></app-shift-total-time>
        </td>
      </ng-container>
    </table>
  </cdk-virtual-scroll-viewport>
</div>
